.main-content {
    background-color: #ffffff;
}

/* 最新消息 */
.section {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0;
    padding: 0;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 135, 135, 10%);
    margin: auto;
    padding: 0;
    border-radius: 0 0 10px 10px;
}

.container-title::before,
.container-title::after {
    content: '';
    display: flex;
    width: 12.5%;
    height: 3px;
    padding: 0 2px;
    background-color: #00bdc9;
}

.container-title::before {
    margin-right: 30px;
}

.container-title::after {
    margin-left: 30px;
}

.container-title-text {
    color: #000000;
    /* font-weight: bold; */
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
}

/* 每一則訊息的底色 */
.newsContainer-link {
    color: #555555;
}

/* 每一則訊息碰觸後改變的顏色 */
.newsContainer-link:hover {
    color: #00bdc9;
}

/* 新聞消息背景顏色 */
.container-list-hyperlink-classType.news {
    background-color: rgba(139, 198, 101, 20%);
}

/* 獲獎訊息背景顏色 */
.container-list-hyperlink-classType.award {
    background-color: rgba(100, 75, 225, 20%);
}

/* 實驗室公告顏色 */
.container-list-hyperlink-classType.labnotice {
    background-color: rgba(135, 135, 135, 20%);
}

.container-list-hyperlink-classType {
    color: #595757;
    text-decoration: none;
    line-height: 20px;
    transition: color 0.3s;
    white-space: nowrap;
}

/* scroll to the page top btn */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #00bdc9;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.scroll-to-top {
    visibility: hidden;
}

.scroll-to-top.active {
    visibility: visible;
}

@media (max-width: 1200px) {
    .news-date {
        display: none;
    }
}
