.main-content {
    background-color: #ffffff;
}

.container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 135, 135, 0.1);
    margin: auto;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
}

.container_title::before,
.container_title::after {
    content: '';
    display: flex;
    width: 12.5%;
    height: 3px;
    background-color: rgba(100, 75, 225, 0.5);
}

.container_title::before {
    margin-right: 30px;
}
.container_title::after {
    margin-left: 30px;
}

.container_title-text {
    color: #000000;
    margin: 0px;
    padding: 0px;
    width: 25%;
    text-align: center;
}

.container_listContainer_list {
    overflow: hidden;
    padding: 5px;
}

.container_listContainer_list_hyperlink {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    padding: 5px 0px;
}

.newsContainer_link {
    color: #555555;
}
.newsContainer_link:hover {
    color: rgba(100, 75, 225, 0.6);
}
/* scroll to the page top btn */
.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #00bdc9;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.scrollToTop {
    visibility: hidden;
}
.scrollToTop.active {
    visibility: visible;
}
