.main-content {
    background-color: #ffffff;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 135, 135 / 10%);
    margin: auto;
    padding: 0;
    border-radius: 0 0 10px 10px;
}

.container-title::before,
.container-title::after {
    content: '';
    display: flex;
    width: 12.5%;
    height: 3px;
    background-color: rgb(100, 75, 225 / 50%);
}

.container-title::before {
    margin-right: 30px;
}

.container-title::after {
    margin-left: 30px;
}

.container-title-text {
    color: #000000;
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
}

.container-list-container-list {
    overflow: hidden;
    padding: 5px;
}

.container_list-container-list-hyperlink {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    padding: 5px 0;
}

.news-container-link {
    color: #555555;
}
.news-container-link:hover {
    color: rgb(100, 75, 225 / 60%);
}

/* scroll to the page top btn */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #00bdc9;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.scroll-to-top.active {
    visibility: visible;
}
