@charset "utf-8";

/* 最新消息 */
.section {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0;
    padding: 0;
}

.news-container {
    padding: 30px 30px 0;
    border-radius: 10px;
    background-color: rgb(230 230 230 / 20%);
}

.lab-container {
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(230 230 230 / 20%);
}

.main-content {
    background-color: #ffffff;
}

.news-container-link,
.award-container-link,
.lab-notice-container-link {
    color: #555555;
}

.news-container-link:hover {
    color: #00bdc9;
}

.award-container-link:hover {
    color: rgb(100 75 225 / 60%);
}

.lab-notice-container-link:hover {
    color: rgb(0 0 0 / 100%);
}

.carousel-control-prev {
    left: -6%;
}

.carousel-control-next {
    right: -6%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.container-page-title,
.container-award-title,
.container-lab-title {
    color: #323232;
    text-decoration: none;
    padding-top: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-page-title::before,
.container-page-title::after,
.container-lab-title::before,
.container-lab-title::after,
.container-award-title::before,
.container-award-title::after {
    content: '';
    width: 12.5%;
    height: 3px;
}

.container-page-title::before,
.container-lab-title::before,
.container-award-title::before {
    margin-right: 30px;
}

.container-page-title::after,
.container-lab-title::after,
.container-award-title::after {
    margin-left: 30px;
}

.container-list {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #00bdc9;
    list-style-type: none;
    overflow: hidden;
}

.container-list-hyperlink {
    display: flex;
    position: relative;
}

.container-list-hyperlink-date,
.container-list-hyperlink-class-type,
.container-list-hyperlink-title {
    color: #595757;
    text-decoration: none;
    line-height: 20px;
    transition: color 0.3s;
    white-space: nowrap;
}

.container-list-hyperlink-class-type.news {
    background-color: rgb(139 198 101 / 20%);
}

.container-list-hyperlink-class-type.award {
    background-color: rgb(100 75 225 / 20%);
}

.container-list-hyperlink-class-type.labnotice {
    background-color: rgb(135 135 135 / 20%);
}

.container-list-hyperlink:hover * {
    color: #70c7da;
}

.btn-outline-info {
    font-size: 25px;
    padding: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.btn {
    border: 0.15rem #00bdc9 solid;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
    box-shadow: none;
    background-color: #00bdc9;
    color: #ffffff;
}

.btn.award {
    border: 0.15rem rgb(100 75 225 / 60%) solid;
}

.btn.award:hover,
.btn.award:active,
.btn.award:focus,
.btn.award:active:focus {
    box-shadow: none;
    background-color: rgb(100 75 225 / 60%);
    color: #ffffff;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #00bdc9;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

.scroll-to-top.active {
    visibility: visible;
}

@media (width >= 1400px) {
    .carousel-container {
        max-width: 1320px;
    }
}

@media (1200px <= width < 1400px) {
    .carousel-container {
        max-width: 1140px;
    }
}

@media (992px <= width < 1200px) {
    .carousel-container {
        max-width: 960px;
    }
}

@media (width <= 1200px) {
    .news-date {
        display: none;
    }
}

@media (width >= 1198px) {
    .banner {
        height: auto;
    }
}
