a {
    text-decoration: none;
}

.main-content {
    background-color: #fff;
}

/*最新消息*/
.section {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0;
    padding: 0;
}

.container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 135, 135, 0.1);
    margin: auto;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
}

.container_title::before,
.container_title::after {
    content: '';
    display: flex;
    width: 12.5%;
    height: 3px;
    padding: 0px 2px;
    background-color: rgba(135, 135, 135, 0.5);
}
.container_title::before {
    margin-right: 30px;
}
.container_title::after {
    margin-left: 30px;
}

.container_title-text {
    color: #000000;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* 定義每個方框陰影以及佈局設定 */
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    margin: 15px 25px 30px 25px;
}

.News_item {
    box-shadow: 7px 8px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    object-fit: cover;
}
/* 文字顏色(color)跟背景(background-color) */
.grid > .News_item > .text {
    color: violet;
    background-color: rgba(0, 207, 255, 0.3);
}

/* 調整文字框圓角 */
.text {
    border-radius: 15px 15px 0px 0px;
}
/* 調整日期整體距離 */
.date {
    padding: 5px 0px 0px 5px;
}
/* 調整標題整體距離 */
.title {
    padding: 0px 5px 0px;
    font-weight: bold;
    padding-bottom: 9px;
    margin-bottom: 0px;
}

.News_item:hover {
    text-decoration: none;
}

.date {
    margin-bottom: 5px;
    font-size: 18px;
}

.image {
    overflow: hidden;
}

.News_item img {
    display: block;
    width: 100%;
    height: auto;
}

.News_item img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.News_item:hover img {
    transform: scale(1.05);
}

.image > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    object-fit: cover;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
