.main-content {
    background-color: #ffffff;
}

/* 最新消息 */
.section {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0;
    padding: 0;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135 135 135 / 10%);
    margin: auto;
    padding: 0;
    border-radius: 0 0 10px 10px;
}

.container-title::before,
.container-title::after {
    content: '';
    display: flex;
    width: 12.5%;
    height: 3px;
    padding: 0 2px;
    background-color: #00bdc9;
}

.container-title::before {
    margin-right: 30px;
}

.container-title::after {
    margin-left: 30px;
}

.container-title-text {
    color: #000000;
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
}

.teacher-container-content-link {
    color: #878787;
    padding: 5px;
    border: 2px solid #878787;
    border-radius: 5px;
    text-decoration: none;
}

.teacher-container-content-link:hover {
    color: #ffffff;
    background-color: #878787;
}

.teacher-container-content-link:active {
    color: #00adc9;
}

/* 回到研究團隊頁面按鍵 */
.btn {
    border: 0.15rem #00bdc9 solid;
}

.btn:hover {
    background-color: #00bdc9;
    color: #ffffff;
}
