a {
    text-decoration: none;
}

.main-content {
    background-color: #fff;
}

/*最新消息*/
.section {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 0;
    padding: 0;
}

.container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(135, 135, 135, 0.1);
    margin: auto;
    padding: 0;
    border-radius: 0px 0px 10px 10px;
}

.container_title::before,
.container_title::after {
    content: '';
    display: flex;
    width: 12.5%;
    height: 3px;
    padding: 0px 2px;
    background-color: rgba(135, 135, 135, 0.5);
}
.container_title::before {
    margin-right: 30px;
}
.container_title::after {
    margin-left: 30px;
}

.container_title-text {
    color: #000000;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.teacherContainer_btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn {
    border: 0.15rem #00bdc9 solid;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
    box-shadow: none;
    background-color: #00bdc9;
    color: #fff;
}

.btnContainer {
    display: flex;
    align-items: center;
}
/* .teacherContainer_content{
    position: absolute;
    bottom: 0;
} */
