.main-content {
    background-color: #ffffff;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 135, 135 / 10%);
    margin: auto;
    padding: 0;
    border-radius: 0 0 10px 10px;
}

.container-title::before,
.container-title::after {
    content: '';
    display: flex;
    width: 12.5%;
    height: 3px;
    background-color: rgb(100, 75, 225 / 50%);
}

.container-title::before {
    margin-right: 30px;
}

.container-title::after {
    margin-left: 30px;
}

.container-title-text {
    color: #000000;
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
}

.btn {
    padding: 5px;
    border: 2px solid #878787;
    border-radius: 5px;
}

.award-link {
    text-decoration: none;
    color: #000000;
}

.award-link:hover {
    text-decoration: none;
    color: rgb(100, 75, 225 / 50%);
}

.btn:hover {
    background-color: #878787;
    color: #ffffff;
}

.btn:active {
    background-color: #878787;
    color: #ffffff;
}
